[user]
name = Scott Côtê
email = scott.cote@hey.com

[push]
default = current

[pull]
rebase = true

[filter "lfs"]
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
