[user]
name = Scott Côté
email = scott.cote@hey.com

[core]
pager = delta
excludesFile = ~/.config/git/.gitignore_global

[interactive]
diffFilter = delta --color-only

[push]
default = current

[pull]
rebase = true

[rebase]
autostash = true

[diff]
colorMoved = zebra

[merge]
conflictStyle = diff3

[delta]
navigate = true

[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
