(
    selected_tab: Some("#2f81f7"),
    command_fg: Some("#e6edf3"),
    selection_bg: Some("#2f81f7"),
    selection_fg: Some("#ffffff"),
    cmdbar_bg: Some("#161b22"),
    disabled_fg: Some("#6e7681"),
    diff_line_add: Some("#3fb950"),
    diff_line_delete: Some("#f85149"),
    diff_file_added: Some("#3fb950"),
    diff_file_removed: Some("#f85149"),
    diff_file_moved: Some("#a371f7"),
    diff_file_modified: Some("#d29922"),
    commit_hash: Some("#2f81f7"),
    commit_time: Some("#848d97"),
    commit_author: Some("#3fb950"),
    danger_fg: Some("#f85149"),
    push_gauge_bg: Some("#2f81f7"),
    push_gauge_fg: Some("#ffffff"),
    tag_fg: Some("#a371f7"),
    branch_fg: Some("#d29922"),
    block_title_focused: Some("#2f81f7"),
)
