(
    selected_tab: Some("#539bf5"),
    command_fg: Some("#adbac7"),
    selection_bg: Some("#539bf5"),
    selection_fg: Some("#cdd9e5"),
    cmdbar_bg: Some("#2d333b"),
    disabled_fg: Some("#636e7b"),
    diff_line_add: Some("#57ab5a"),
    diff_line_delete: Some("#e5534b"),
    diff_file_added: Some("#57ab5a"),
    diff_file_removed: Some("#e5534b"),
    diff_file_moved: Some("#986ee2"),
    diff_file_modified: Some("#c69026"),
    commit_hash: Some("#539bf5"),
    commit_time: Some("#768390"),
    commit_author: Some("#57ab5a"),
    danger_fg: Some("#e5534b"),
    push_gauge_bg: Some("#539bf5"),
    push_gauge_fg: Some("#cdd9e5"),
    tag_fg: Some("#986ee2"),
    branch_fg: Some("#c69026"),
    block_title_focused: Some("#539bf5"),
)
